# dependencies
node_modules/

# build outputs
dist/
build/
backend/public

# turborepo
.turbo/

# env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# database
**/prisma/*.db
**/prisma/*.db-journal